body{
    background-color: #EEF9BF;
}
.title{
    justify-content: center;
    width: auto;
    text-align: center;
    margin: 40px;
}
.title h1{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 66px;
    letter-spacing: -0.004em;
    color: #75B79E;
}
.content{
    justify-content: space-around;
    width: auto;
    display:grid;
    grid-template: auto auto / none;
    grid-auto-flow: column;
    gap:34px;
    height:500px;
}
.content img{
    width:100%;
}
.card {
    width: 117px;
    height: 146px;
    position: relative;
    background: #A7E9AF;
    border: 1px solid #99CEA8;
    box-sizing: border-box;
    border-radius: 5px;
  }
  .card span{
    display:none;
  }

  .face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
  }

  .back-face {
    transform: rotateY(180deg);
  }

  .turned .back-face {
    transform: rotateY(0deg);
  }

  .turned .front-face {
    transform: rotateY(-180deg);
  }